/*////////////// Fonts //////////////*/

@font-face {
	font-family: 'Baskerville';
	src: url(../fonts/Baskerville.ttc);
}

/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif; 
	color: rgb(79, 78, 82);
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

/*////////// Header //////////*/

header h1 {
	font: normal 5em/1.2em 'Baskerville', serif;
	color: rgb(149, 170, 164);
	padding-bottom: 8px;
	border-bottom: 1.4px solid rgb(216, 216, 216);
	margin: 0 0 5px;
}

/*////////// Sections //////////*/

#about img {
	border: 5px solid rgb(150, 173, 167);
}

h2 {
	color: rgb(105, 124, 128);
	font-size: 2em;
}

#about a:link, #about a:visited {
	color: rgb(69, 147, 210);
	text-decoration: none;
}

#about a:hover, #about a:active {
	color: rgb(69, 147, 210);
	text-decoration: underline;
}

#press img {
	border: 5px solid rgb(207, 208, 206);
	padding: 1px;
	transition: border 0s ease;
}

#press img:hover {
	border: 5px solid rgb(105, 124, 128);
	padding: 1px;
	-webkit-transition: border 0.8s ease;
  	-moz-transition: border 0.8s ease;
  	-o-transition: border 0.8s ease;
  	transition: border 0.8s ease;
}

/*////////// Footer //////////*/

.copyright {
	font-size: 0.7em;
}

footer {
	text-align: right;
}